<h1 class="mb-4">Iniciar sesión</h1>

<form method="POST" action="/login" class="col-md-4">
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      required
    />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Contraseña</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Entrar</button>
</form>
